@using Oqtane.Survey.Services
@using Oqtane.Survey.Models

@namespace Oqtane.Survey
@inherits ModuleBase
@inject ISurveyService SurveyService
@inject NavigationManager NavigationManager

<br />
<ActionLink Action="Edit" Security="SecurityAccessLevel.Edit"
            Text="Edit Survey" />
<br />
<br />
@if (_Survey != null)
{
    <RadzenCard Style="width:300px;">
        <div class="row">
            <div class="col-md-12">
                <h2>Name: <b>@_Survey.SurveyName</b></h2>
            </div>
        </div>
    </RadzenCard>
}

@code {
    public override List<Resource> Resources => new List<Resource>()
{
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" },
        new Resource { ResourceType = ResourceType.Script, Url = ModulePath() + "Module.js" }
    };

    Survey _Survey;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _Survey = await SurveyService.GetSurveyAsync(ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Survey {Error}", ex.Message);
            AddModuleMessage("Error Loading Survey", MessageType.Error);
        }
    }
}